
@media screen and (min-width: 769px) {
    .htb {
        background-color: rgba(128, 128, 128, 0.095);
        padding: 10%;
    }

    .htb h1 {
        font-size: 500%;
    }
}

@media screen and (max-width: 768px) {
    .htb {
        background-color: rgba(128, 128, 128, 0.095);
        padding: 3% 5% 12% 5%;
        margin-top: 10px;
    }

    .htb h1 {
        font-size: 2.5em;
    }

    .htb p {
        margin-bottom: 50px;
    }
}