
.navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
}

.navbar-container{
    width: 100%;
    margin: auto;
}

.head {
    display: flex;
    width: 90%;
    align-items: center;
    margin: auto;
    /* height: 110px; */
}

.logo, .logo-hide {
    display: flex;
    align-items: center;
}

.h_line {
    width: 90%;
    margin: auto;
    height: 1px;
    background-color: black;
}

.menu, .change {
    cursor: pointer;
    position: absolute;
    right: 25px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin: 10px 0;
    transition: 0.4s;
    border-radius: 1px;
}

.change .bar1{
    transform: translate(0, 13px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -13px) rotate(45deg);
}

.navigation {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    color: black;
}
/* change padding for mobile vs web */

.arrow-container {
    margin-left: -25%;
    width: 50px;
    height: 50px;
    margin-top: 5%;
    display: none;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: none;
    padding: 5px;
    margin: 7px 2px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.links {
    display: flex;
    position: absolute;
}

.links img {
    width: 25px;
    margin: 5px;
} 

.dropdown {
    float: left;
    overflow: hidden;
    width: 100%;
  }
  
.dropdown .dropbtn {
    font-size: large;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: -1px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 160px;
}

@media screen and (min-width: 769px) {
    .head {
        height: 100px;
    }
    
    .menu, .change {
        display: none;
    }
    
    .logo h1 {
        font-size: 55px;
        font-family: sans-serif;
        font-weight: 700px;
    }
    
    .logo img {
        width: 83px;
        height: 80px;
        margin: 10px;
    }
    
    .links {
        right: 0%;
    }
    
    .navigation {
        width: 90%;
        margin: auto;
    }
    
    .navbar {
        height: 55px;
    }
    
    #nav-list {
        display: flex;
        padding: 0;
        margin: 8px auto;
    }

    #nav-list li {
        list-style-type: none;
        margin-top: -8px;
    }

    #nav-list li a {
        display: block;
        float: left;
        font-size: large;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
        color: black;
    }
  
    .navbar a:hover, .dropdown-content a:hover {
      background-color: rgba(193, 193, 193, 0.687);
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
}

@media screen and (max-width: 768px) {
    .menu, .change {
        display: block;
    }

    #nav-list {
        display: none;
    }

    .links {
        left: 5%;
        margin-top: 5px;
    }

    /* .links img {
        margin: 5px;
    } */
    .navigation {
        width: 100%;
        padding: 1.25rem 0rem;
    }

    .navbar.expanded #nav-list {
        display: block;
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: white;
        margin-top: -10%;
        z-index: 2;
        padding: 0;
    }

    #nav-list li {
        text-align: center;
        margin: 0;
        list-style-type: none;
    }

    .nav-btn a {
        color: black;
        width: 100%;
        padding: 1.5rem 0;
        font-size: xx-large;
        float: left;
        display: block;
        text-align: center;
    }

    /* .nav-btn.active a {
        color: rgb(0, 153, 153);
    } */

    .logo h1 {
        font-size: 200%;
    }

    .logo img {
        width: 55px;
        height: auto;
    }

    .logo-hide img {
        opacity: 0;
        width: 50px;
        height: auto;
        /* display: none; */
    }

    .logo-hide h1 {
        font-size: 200%;
        color: white;
    }

    .dropbtn {
        display: flex;
        align-items: center;
    }

    .dropdown-content {
        display: none;
        width: 100%;
    }
    
    .show {
        display: block;
    }

    .arrow-container {
        display: block;
    }

    .arrow {
        display: inline-block;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .navbar.expanded #nav-list {
        margin-top: -5%;
    }
}