
.spacing {
    margin-bottom: 40px;
}

.spacing p {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.pedal-video-container {
    background-color: #a5ffee;
    padding: 8% 0%;
}

.pedal-video {
  position: relative;
  width: 90%;
  overflow: hidden;
  padding-top: 56.25%;
  margin: auto;
}

.pedal-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.pedal-image {
    display: none;
    padding: 5%;
    justify-content: space-evenly;
}

.slideshow {
    display: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    margin: 25px auto;
}


@media screen and (min-width: 769px) {

    .pedal-container {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        gap: 10%;
        padding-top: 15px;
    }

    .pedal-title {
        flex-basis: 25%;
        font-size: 300%;
    }
      
    .description {
        flex-basis: 50%;
    }

    .pedal-image {
        display: flex;
    }
      
    .pedal-image img {
        /* width: 100%;
        height: auto;
        min-width: 400px; */
        width: 600px;
        height: 600px;
    }

    .prev, .next {
        display: none;
    }

    /* Pedal Modal */
    #pedalImg {
        cursor: pointer;
        transition: 0.3s;
    }
    
    #pedalImg:hover{opacity: 0.7;}
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
    }
    
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 600px;
        padding-bottom: 10%;
    }
    
    @keyframes zoom {
        from {transform: scale(0);}
        to {transform: scale(1);}
    }
    
    @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
    }
    
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .close:hover, .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .cards-container {
        margin-top: 35px;
    }
    .card {
        width: 100%;
    }

    /* Pedal Page Style */

    .pedal-title h1 {
        font-size: 2.5em;
    }

    .description h2 {
        font-size: 1.75em;
        font-weight: 500;
        word-wrap: break-word;
    }

    /* .pedal-video {
        padding: 10% 3%;
    }

    .pedal-video iframe {
        width: 100%;
        height: 220px;
        margin: auto;
    } */

    /* Pedal Slideshow */

    .slideshow-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .slideshow {
        display: flex;
    }

    .slideshow::-webkit-scrollbar {
        display: none;
    }

    .slideshow img {
        width: 400px;
        height: 400px;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 45%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        /* text-shadow: 1px 1px 10px black; */
        /* font-weight: bold; */
        font-size: 50px;
        transition: 0.6s ease;
        user-select: none;
        /* z-index: 1; */
    }

    .slideshow-arrow {
        filter: drop-shadow(2px 2px 4px rgb(0 0 0 / 0.4));
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev {
        left: 0;
        border-radius: 0 3px 3px 0;
    }

    .hidden {
        display: none;
    }

    .slide {
        transition: ease 1000ms;
        white-space: nowrap;
      }
}

@media screen and (min-width: 700px) and (max-width: 768px) {
    .prev, .next {
        display: none;
    }
}